:root {
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Montserrat', sans-serif;
    --bg-gradient: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
    --main-color: #2FAD95;
    --secondary-color: #064342;
    --tertiary-color: #A5E6D8;
    --neutral-white: #F2F2F2;
    --neutral-black: #000;
    --neutral-gray: #252525;
    --title-size: 4rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-size: 1.6rem;
}

h1 {
    font-family: var(--font-title);
    font-size: var(--title-size);
}

h3 {
    font-family: var(--font-title);
    font-size: 2.4rem;
}

p {
    font-family: var(--font-text);
}

span {
    color: var(--main-color);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--neutral-white);
    font-weight: 600;
    transition: color .7s;
    font-family: var(--font-text);

    &:hover{
        color: var(--main-color);
    }
}

.icone-cor-fundo {
    cursor: pointer;
    font-size: 2.4rem;
    transition: color 0.2s;
}
.icone-cor-fundo:hover {
    color: var(--main-color, #007bff);
}

.container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.bg-image-1 {
    background-image: var(--bg-gradient), url(../imagens/img-hero.jpg);
}

.header-page {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem; 

    & img {
        width: 30rem;
        height: 13rem;
    }
   
}

.header-menu ul {
    display: flex;
    gap: 20px;
}

.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & h2{           
        font-size: clamp(2.4rem, 4vw, 6rem);
        font-family: var(--font-title);
        color: var(--neutral-white);
    }
    & p{
        width: 60%;
        text-align: center;
        text-wrap: balance;
        color: var(--neutral-white);
    }
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.conteudo-tecnologias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 3rem;
}

.textos-tecnologias {
    width: 45%;

    & h1{
        color: var(--neutral-black);
    }

    & p{
        color: var(--neutral-black);
        text-wrap: balance;
        margin-top: 20px;
    }
}

.imagens-tecnologias {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;

    & img {
        width: 50%;
        height: 30rem;
        object-fit: cover;
        border-radius: 8px;
    }
}

.imagens-vertical1, .imagens-vertical2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bg-objetivos{
    background-image: url(../imagens/fundo-objetivos.png);
}

.objetivos-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    
    
    & h1 {
        color: var(--neutral-white);
        font-family: var(--font-title);
        font-size: var(--title-size);
    }
    
    & img {
        width: 50%;
        height: 60rem;
        object-fit: cover;
        border-radius: 8px;
    }
    
    & p {
        color: var(--neutral-white);
        max-width: 60rem;
        text-wrap: balance;
        line-height: 1.6;
    }
}

.publico-alvo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}

.card-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-publico-alvo{
    width: 25%;
    padding: 2rem;
    max-height: 45rem;
    & img {
        width: 100%;
        height: 60rem;
        border-radius: 1rem;
        object-fit: cover;  
    }

    & h3 {
        font-weight: 400;
        color: var(--neutral-black);
    }

    & p {
        color: var(--neutral-black);
        text-wrap: balance;
        margin-top: 0.5rem;
    }
}

hr{
    width: 90%;
    margin: 2rem auto;
    border: none;
    height: 1px;
    background-color: var(--main-color);
}

.beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    gap: 10rem;

    & img {
        width: 100%;
        height: 60rem;
        object-fit: cover;
        border-radius: 1rem;
    }
}

.textos-beneficios {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & p {
        text-wrap: balance;
    }
}

.bg-dia-a-dia{
    background-image: var(--bg-gradient),url(../imagens/fundo-dia-a-dia.jpg);
    height: 70vh;
}

.textos-dia-a-dia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    & h1 {
        color: var(--neutral-white);

    }

    & p {
        color: var(--neutral-white);
        text-wrap: balance;
        width: 30%;
    }

    & h3{
        text-wrap: balance;
        width: 30%;
        color: var(--neutral-white);
    }

    & button {
        width: 20rem;
        height: 5rem;
        background-color: var(--main-color);
        color: var(--neutral-white);
        border: none;
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: var(--secondary-color);
        }
    }
}

.container-form{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & h1 {
        color: var(--neutral-black);
    }

    & p{
        color: var(--neutral-black);
    }

    & textarea{
        width: 30%;
        height: 10rem;
        border-radius: 8px;
        border: 1px solid var(--neutral-gray);
        padding: 1rem;
        font-size: 1.6rem;
        font-family: var(--font-text);
        resize: none;
    }

    & button {
        width: 20rem;
        height: 5rem;
        background-color: var(--main-color);
        color: var(--neutral-white);
        border: none;
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: var(--tertiary-color);
        }
    }
}

.inputs-form {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & input {
        width: 100%;
        height: 4rem;
        border-radius: 8px;
        border: 1px solid var(--neutral-gray);
        padding: 0 1rem;
        font-size: 1.6rem;
        font-family: var(--font-text);
    }
}

.container-footer{
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    background-color: var(--neutral-gray);
    color: var(--neutral-white);
    font-size: 1.4rem;
    text-align: center;
}

.info-footer{
    display: flex;
    align-items: center;
    gap: 2rem;
    & img {
        width: 5rem;
        height: 5rem;

    }
}

.botoes-cor-fundo{
    & button {
        width: 8rem;
        height: 4rem;
        background-color: var(--main-color);
        color: var(--neutral-white);
        border: none;
        border-radius: 8px;
        font-size: 1.4rem;
        font-weight: 600;
        text-wrap: balance;;
        cursor: pointer;
        transition: background-color .3s;
        margin-bottom: 1rem;

        &:hover {
            background-color: var(--secondary-color);
        }
    }
}


/* CSS DE WEB DEVELOPMENT */
.icone-hamburguer {
    background-color: var(--neutral-gray);
    cursor: pointer;
    padding: 1rem;
    color: white;
    border-radius: 50%;
    transition: background-color .3s;
    display: none;
}
.icone-hamburguer:hover {
    background-color: var(--main-color);
}

@media (max-width: 1048px) {
    .header-page {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        position: relative;
    }
    .icone-hamburguer {
        display: block;
        margin: 0;
    }
    .header-menu {
        margin-left: 0;
        display: flex;
        align-items: center;
        position: relative;
    }
    .header-menu ul {
        display: none; 
        flex-direction: column;
        width: max-content;
        min-width: 180px;
        background: var(--neutral-gray, #252525);
        gap: 2rem;
        padding: 2rem 2.5rem;
        margin: 0;
        align-items: flex-start;
        text-align: left;
        border-radius: 1rem;
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
    }
    .header-menu ul.active {
        display: flex;
    }
}

.quiz-container{
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    & h1{
        color: var(--neutral-white);
    }

    & button {
        width: 20rem;
        height: 5rem;
        background-color: var(--main-color);
        color: var(--neutral-white);
        border: none;
        border-radius: 8px;
        font-size: 1.6rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: var(--secondary-color);
        }
    } 
}

.questoes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
    padding: 2rem;
    background-color: var(--neutral-gray);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--neutral-white);
    font-family: var(--font-text);
    font-size: 1.6rem;

}

.questao{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.respostas {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
