:root {
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Montserrat', sans-serif;
    --bg-gradient: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));

}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-size: 1.6rem;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: color .7s;
    font-family: var(--font-text);
}

a:hover{
    color: grey
}

.container-problema {
    width: 100%;
    height: 100vh;
    color: var(--color-light);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.bg-image-1 {
    background-image: var(--bg-gradient), url(../imagens/pexels-sveta-k-75705601-8568719.jpg);
}

.header-page {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem; 

    & h1{
        font-size: 4rem;
        font-family: var(--font-title);
    }
   
}

.header-menu ul {
    display: flex;
    gap: 20px;
}
